body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #000000;
}

h4 {
  font-size: 2em;
  margin: 0.10em 0;
  margin-top: 0.67em;
  margin-right: 0px;
  margin-bottom: 0.10em;
  margin-left: 0px;
}

.heeader {
  max-height: 10%;
  display: flex;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
  }
  
  .logo {
    align-items: center;
    max-height: 170px;
    margin-bottom: 10px;
    object-fit: cover;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
  }
  
  .btn-menu {
    
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 100;
    line-height: 0.05;
    padding: 3px 30px;
    background: #000000;
    border: none;
  }
  .btn-menu:hover {
    color: #000000 !important;
    background: #988d39;
  }
  
  .main {
   max-height: fit-content;
   background-position: top;
   background-image: url(../images/Jobs.jpg);
   background-attachment: local;
   background-position-y: top;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: black;
  }

  .financial {
    display: flex;
    align-content: center;
    margin-top: 23%;
    line-height: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    font-size: 95px;
    font-weight: 400;
  }
  
  .saving {
    display: flex;
    position: relative;
    align-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    font-size: 30px;
    font-weight: 300;
    margin-top: 80px;
   margin-bottom: 10%;
    line-height: 0;
  }

  .three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 3%;
  margin-right: 4%;
  margin-left: 4%;
  gap: 10px;
}

.flex-items {
  text-align: center;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  margin: 15px;
  line-height: 80%;
}


    

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: space-between;
  margin-top: 10%;
  
  
  
}

.left-box {
  margin-left: 5%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: space-between;
  gap: 10px;
  max-lines: 45%;
  order: 0;
}

.titel-words {
  margin-bottom: 5%;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 300;
}

.composition {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.text {
  padding-right: 5%;
  justify-content: right;
  float:right;
  display: block;
}

.face {
  float:left;
  display: flex;
  
}

.right-box {
  margin-left: 5%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: space-between;
  gap: 10px;
  max-lines: 45%;
  order: 1;
}
 

.grid {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: flex-start;
 align-items: center;
 gap: 25px;
 



 }

.description {
  line-height: 50%;
  white-space: nowrap;
}

.line-up {
  display: flex;
  margin-top: 7%;
  margin-bottom: -10%;
}

.line-down {
  display: flex;
  margin-top: 4%;
}

.grid-clients {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: space-between;
  margin-top: 5%;
}



.clients-list {
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image-container{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 20px;
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 5%;
}

.contact {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 10px;
  height: 150px;
  margin-bottom: -20%;

}

.btn-up {
  position: absolute;
  margin-left: 80%;
 ;
}

@media only screen and (max-width: 500px){
  body { 
    width: 100%;
    overflow-x: hidden;

  }
  .btn-menu{
    font-size: 10px;
    padding: 10px;
  }
  .container {
    display: block;
    margin-top: 10%;
  }

  .financial {
    font-size: 30px;
    font-weight: 100;
  }
  .saving {
    font-size: 15px;
    margin-top: 8%;
  }
  .description {
    line-height: 150%;
    white-space: wrap;
  }
  .left-box {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 10%;
  }
  
  .composition {
    display: block;
    justify-content: center;
    align-content: center;
  }

  .titel-words{
    font-size: 15px;
  }

  .line-up {
    size: 50%;
    display: flex;
  }

  .main {
    max-height: fit-content;
    background-position: top;
    background-image: url(../images/Jobs.jpg);
    background-attachment: local;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
   }
  h1 {
    line-height: 1;
  }

  .
  .clients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    align-content: space-between;
    margin-top: 5%;
  }
   .image-container{
    display: block;
    object-fit: fill;
    max-height: 100%;
   ;
   }
   
}